<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brotherlu.life.dao.LifeUserGroupMapper">
  <resultMap id="BaseResultMap" type="com.brotherlu.life.model.LifeUserGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="group_no" jdbcType="INTEGER" property="groupNo" />
    <result column="user_no" jdbcType="INTEGER" property="userNo" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_desc" jdbcType="VARCHAR" property="groupDesc" />
  </resultMap>
</mapper>